{% extends "base.html" %}

{% block title %}
Agregar Matrícula
{% endblock %}

{% block titulo %}Agregar Matrícula{% endblock %}
{% block contenido %}
    <form action="" method="POST">{% csrf_token %}
    <table>
    {{ formMatricula.as_table }}
    </table>
    <input type="reset" class="btn btn-secondary" value="Cancelar" name="Cancelar"/>
    <input type="submit" formmethod="post" onclick="matricula()" class="btn btn-success" value="Agregar matrícula" name="Matricula" />
    </form>

{% endblock %}