{% extends "base.html" %}

{% block title %}
Matrículas
{% endblock %}


{% block contenido %}
    <h2>Matrículas</h2>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Estudiante</th>
          <th scope="col">Curso</th>
          <th scope="col">Fecha matrícula</th>
        </tr>
      </thead>
      <tbody>
      {% for matricula in matriculas %}
        <tr>
          <th scope="row">{{ matricula.id }}</th>
          <td>{{ matricula.estudiante }}</td>
          <td>{{ matricula.curso }}</td>
        <td>{{ matricula.fechaMatricula }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
{% endblock %}